﻿@model DapperDemo.Models.Company

    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>Company Details</h1>

            </div>
            <div class="col-3">
<a asp-action="Index" asp-controller="Companies" class="btn btn-warning">Back to Companies</a>
            </div>
        </div>
        <hr />

        <div class="row p-1">
            <div class="col-3">
                Name
            </div>
            <div class="col-9">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-3">
                Address
            </div>
            <div class="col-9">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-3">
                City
            </div>
            <div class="col-9">
                <input asp-for="City" class="form-control" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-3">
                State
            </div>
            <div class="col-9">
                <input asp-for="State" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Pin Code
            </div>
            <div class="col-9">
                <input asp-for="Pincode" class="form-control" />
            </div>
        </div>

    </div>
<hr />
<div class="container pt-2">
    <div class="row py-2">
        <h3>Employee Details</h3>
    </div>
    <div class="row">
        @if (Model.Employees.Count() > 0)
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Title)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Employees" asp-route-id="@item.EmployeeId" class="btn btn-info">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <p>No employee exists...</p>
        }
    </div>
</div>