﻿@model IEnumerable<DapperDemo.Models.Company>

<h1>Company Management</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Company</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pincode)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId" class="btn btn-info">Edit</a>
                <a asp-action="Details" asp-route-id="@item.CompanyId" class="btn btn-success">Details</a>
                <a asp-action="Delete" asp-route-id="@item.CompanyId" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a asp-action="Index" asp-controller="Employees" asp-route-companyId="@item.CompanyId" class="btn btn-primary">Manage Employees</a>
            </td>
        </tr>
}
    </tbody>
</table>
